<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <assembly name="MB.TestTask.WebAPI" />
    <namespace name="MB.TestTask.WebAPI" />
    <namespace name="MB.TestTask.WebAPI.Controllers" />
    <namespace name="MB.TestTask.WebAPI.Infrastructure" />

    <assembly name="MB.TestTask.Authentication" />
    <namespace name="MB.TestTask.Authentication" />

    <assembly name="MB.TestTask.Models" />
    <namespace name="MB.TestTask.Models" />

    <assembly name="MB.TestTask.DataAccess.Interfaces" />
    <namespace name="MB.TestTask.DataAccess.Interfaces" />

    <assembly name="MB.TestTask.DataAccess.SqlServer" />
    <namespace name="MB.TestTask.DataAccess.SqlServer" />

    <assembly name="MB.TestTask.Services" />
    <namespace name="MB.TestTask.Services" />
    <namespace name="MB.TestTask.Services.Interfaces" />

    <container>
      <register type="IServerContext" mapTo="ServerContext">
        <lifetime type="PerRequestLifeTimeManager" />
      </register>

      <register type="IUserInfoReader" mapTo="UserInfoReader">
        <constructor>
          <param name="connectionString" value="Data Source=127.0.0.1\SQLEXPRESS;Initial Catalog=MD.TestTask.db;User ID=sa;Password=sapassword" />
        </constructor>
      </register>

      <register type="IUserInfoWriter" mapTo="UserInfoWriter">
        <constructor>
          <param name="connectionString" value="Data Source=127.0.0.1\SQLEXPRESS;Initial Catalog=MD.TestTask.db;User ID=sa;Password=sapassword" />
        </constructor>
      </register>

      <register type="IEncryptionService" mapTo="AesEncryptionService">
        <lifetime type="singleton" />
        <constructor>
          <param name="key" value="tYkKibdi221KJLOVqbc5BK+f0FmOYcjZLcITNeq4FU0=" />
          <param name="initializationVector" value="5th76+hSE8vt9twb48uFkA==" />
        </constructor>
      </register>

      <register type="IHashingService" mapTo="BCryptHashingService">
        <lifetime type="singleton" />
        <constructor>
          <param name="salt" value="$2a$10$2iaGiQKJLCzBgz0Db.lgcu" />
        </constructor>
      </register>

      <register type="IAuthenticator" mapTo="Authenticator">
        <lifetime type="singleton" />
        <constructor>
          <param name="encryptionService" />
          <param name="tokenExpariation" value="01:00:00" />
          <param name="userInfoReader" />
          <param name="userInfoWriter" />
          <param name="hashingService" />
        </constructor>
      </register>

      <register type="TokenAuthenticationFilter">
        <constructor>
          <param name="container" />
          <param name="encryptionService" />
          <param name="headerName" value="authtoken" />
          <param name="anonymouseUser" value="Anonymous" />
        </constructor>
      </register>

      <register type="IUserService" mapTo="UserService">
        <constructor>
          <param name="userInfoReader" />
          <param name="userInfoWriter" />
        </constructor>
      </register>

      <register type="AccountController">
        <constructor>
          <param name="container" />
          <param name="authenticator" />
          <param name="userService" />
          <param name="anonymouseUser" value="Anonymous" />
          <param name="hashingService" />
        </constructor>
      </register>

    </container>
  </unity>


  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings></appSettings>
</configuration>
